@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 4%;
    --foreground: 213 31% 91%;
    --card: 222 47% 6%;
    --card-foreground: 213 31% 91%;
    --popover: 222 47% 4%;
    --popover-foreground: 213 31% 91%;
    --primary: 217 91% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 213 31% 91%;
    --muted: 222 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 217 91% 60%;
    --accent-foreground: 213 31% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 47% 11%;
    --input: 222 47% 11%;
    --ring: 217 91% 60%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}